<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="BaseURL" value="https://www.transfermarkt.pt" />
    <add key="BaseFolderPath" value="c:\Transfermarkt" />
    <add key="Level1FolderFormat" value="TM_{0}" />
  </appSettings>
</configuration>