<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Language" value="pt" />
    <add key="BaseURL" value="https://www.transfermarkt.pt" />
    <add key="BaseFolderPath" value="c:\Transfermarkt" />
    <add key="SettingsFolderPath" value="c:\Transfermarkt\settings" />
    <add key="SettingsPositionFile" value="position.json" />
    <add key="SettingsNationalityFile" value="nationality.json" />
    <add key="SettingsFootFile" value="foot.json" />
    <add key="Level1FolderFormat" value="TM_{0}" />
    <add key="SimpleClubUrlFormat" value="/{CLUB_STRING}/startseite/verein/{CLUB_ID}/saison_id/{SEASON}" />
    <add key="PlusClubUrlFormat" value="/{CLUB_STRING}/kader/verein/{CLUB_ID}/saison_id/{SEASON}/plus/1" />
    <add key="PlusClubUrlFormatV2" value="/{CLUB_STRING}/kader/verein/{CLUB_ID}/plus/1/galerie/0?saison_id={SEASON}" />
    <add key="CompetitionUrlFormat" value="/{COMPETITION_NAME}/startseite/wettbewerb/{DIVISION}/plus/?saison_id={SEASON}" />
    <add key="IdentifiersGetterPattern" value="{([a-zA-Z_0-9]*)}" />
    <add key="IdentifiersSetterPattern" value="(?&lt;{ID}&gt;.*)" />
  </appSettings>
</configuration>